:root {
  --gray-color: #333333;
  --red-color: #E50914;
  --black-color: #000000;
  /*--Variables del perfil--*/
  --profile-width: 5.0rem;
  --profile-width-table: 8.4rem;
  --time-transition-element: 0.3s
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  background-color: var(--black-color);
}
@media (min-width: 600px) {
  html {
    font-size: 100%;
  }
}